/* Base styles for the main container */
.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
  }
  /* Header section */
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
  }
   .nav img {
    width: 40px;
    border-radius: 50%;
  }
  /* Main container with content */
  .main-container {
    max-width: 900px;
    margin: auto;
  }
  .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    padding: 20px;
    font-weight: 500;
  
  }
  .greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* Cards section */
  .cards {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 16px; 
  }
  
  .main.card {
    height: 190px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f4f9;
    position: relative;
   cursor: pointer;
    
  }
  
  .main.cards img {
    width: 14px;
    padding: 5px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 10px;
  }
  
  .main.cards p {
    font-size: 17px;
    color: #585858;
  }
  .card:hover {
    background-color: #dfe4ed;
  }
  
  /* Bottom section with search box */
  .main-bottom {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    position: absolute;
    bottom: 0;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
  }
  
  .search-box img {
    cursor: pointer;
    width: 24px;
  }
  
  .search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
  }
  
  .search-box div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
  }
  .result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .result::-webkit-scrollbar{
    display: none;
  }
  .result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .result img{
    width: 40px;
    border-radius: 50%;
  }
  .result-data{
    display: flex;
    align-items: start;
    gap: 20px;
  }
  
  
  .loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
  }
  @keyframes loader {
    0% {
      background-position: -800px;
    
  }
  100%{
    background-position: 0;
  }
  
  }
  .result-data p{
    font-size: 17px;
    font-weight:300;
    line-height: 1.8;
  }
  @media (max-width:600px) {
    .main-bottom input{
      flex:none;
      width:150px;
    }
    .main-bottom img{
      width: 20px;
    }
    .search-box{
    padding: 5px 10px;   
    }}
    